  <table class="table table-striped">
    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Datum</th>
        <th scope="col">Sum</th>
        <th scope="col">ProductId</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{transaction.id}}</td>
        <td>{{transaction.date}}</td>
        <td>{{transaction.sum}}</td>
        <td>{{transaction.product_id}}</td>
      </tr>
    </tbody>
    
  </table>