<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: center;">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="javascript:void(0);" (click)="goToProducts()">Product List</a>
          <a class="nav-item nav-link" href="javascript:void(0);" (click)="goToTransactions()">Transaction List</a>
          <a class="nav-item nav-link" href="javascript:void(0);" (click)="logOut()">Log Out</a>
        </div>
    </div>
</nav>