<div class="content" role="main">

      <!-- Highlight Card -->
      <div class="card highlight-card card-small" style="background-color: red;">
  
        <span>404</span>
      </div>

      <a [routerLink]="['/login']">Login</a>

   </div>