<div style="width: 900px; margin: auto;">
  <ngb-carousel *ngIf="images">
    <ng-template *ngFor="let product of products; let i = index" ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[i]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>{{product.name}}</h3>
        <p>{{product.price}}</p>
        <a href="javascript:void(0);" class="card-link" (click)="createNewTransaction(product)">Buy</a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
