<div class="content" role="main">
  <h2>Login</h2>
  <div>
      <label>Email</label>
      <input type="email" id="email" [(ngModel)]="email">
  </div>
  <div>
      <label>Password</label>
      <input type="password" id="password" [(ngModel)]="password">
  </div>
  <button (click)="login()">LOGIN</button>
</div>