<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small" (click)="hello()"> <!-- Template Statement -->

    <span>{{ title }} app is running!</span> <!-- Template Interpolation -->
  </div>

  <div *ngIf="title == 'PRF'"> <!-- Structural Directive 1 -->
    <span>
      {{1.6897 * 0.878 + 2547.785 * 35.789}} <!-- Template Expression -->
    </span>
  </div>
  <ul>
    <li *ngFor="let x of example" (click)="helloFrom(x)"> <!-- Structural Directive 2 -->
      {{x}}
    </li>
  </ul>
  <input type="text" [(ngModel)]="title"> <!-- Attribute Directive -->
  <button (click)="goToSecond()">Second</button>
  <a [routerLink]="['/login']">Logout</a>

  <ul>
    <li *ngFor="let el of cloudElements">
      {{el}}
    </li>
  </ul>

  <div>
    <div>
      <label>Id</label>
      <input type="text" id="id" [(ngModel)]="cloudId">
  </div>
  <div>
      <label>Value</label>
      <input type="text" id="value" [(ngModel)]="value">
  </div>
  <button (click)="saveData()">SAVE</button>
  </div>
  <button (click)="refreshDb()">REFRESH</button>
</div>